	<section class="post-wrapper-top">
    	<div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#api">Api</a></li>
                    <li>DART EXAMPLE</li>
                </ul>
                <h2>DART EXAMPLE</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<!-- search -->
					<div class="search-bar">
						<form action="" method="get">
							<fieldset>
								<input type="image" src="images/pixel.gif" class="searchsubmit" alt="" />
								<input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
							</fieldset>
						</form>
					</div>
					<!-- / end div .search-bar -->
            </div>
        </div>
	</section><!-- end post-wrapper-top -->


    <section class="section3">
        <div class="container withpadding">
            <div class="message">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h3>This is a simple Example of Backbone consuming a Dart Polymer</h3>
                <dart-login></dart-login>
            </div>
            </div><!-- end message -->
        </div><!-- end container -->
    </section><!-- end section3 -->


